.lists-container {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.list {
    width: 250px;
    min-height: 300px;
    padding: 15px;
    margin: 10px;

    border: 1px solid #ccc;
    border-radius: 8px;

    background-color: #f4f4f4;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    padding: 30px;
    border-radius: 10px;

    width: 50%;
    max-width: 700px;
    min-height: 300px;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;

    width: 220px;
    height: 100vh;

    background-color: #222;
    padding: 20px;
}

.sidebar h2 {
    color: white;
}

.sidebar-button {
    width: 100%;
    padding: 12px;

    border: none;
    border-radius: 6px;

    cursor: pointer;
}

.main-content {
    margin-left: 260px;
    padding: 20px;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-menu {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: #555;
}

.list-menu-dropdown {
    position: absolute;

    top: 100%;
    right: 0;

    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;

    padding: 8px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu-container {
    position: relative;
}


.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-menu {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: #555;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    color:#222;
}
